/* 
/etc/profile.d/csd.sh
	GTK_CSD=1
	export GTK_CSD
*/


/* default headerbar size */
	headerbar { min-height: 32px; font-size: 11pt;}
/* remove titlebar icon */
    .csd .titlebar>image {-gtk-icon-transform: scale(0); }

/* make all panel buttons transparent */
    .xfce4-panel.background button,
    .xfce4-panel.background button.flat,
    .xfce4-panel.background button:active, 
    .xfce4-panel.background button:hover, 
    .xfce4-panel.background button:active:hover, 
    .xfce4-panel.background .tasklist button, 
    .xfce4-panel.background .tasklist button.flat,
    .xfce4-panel.background .tasklist button:active,
    .xfce4-panel.background .tasklist button:hover, 
    .xfce4-panel.background .tasklist button:active:hover
    {
	    border-color: transparent;
	    background-color: transparent;
	    background-image: none;
	    color: #fcfcfc;
	    box-shadow: none;
	    transition: none; 
	    text-shadow: none;
    }
    .xfce4-panel.background image { -gtk-icon-shadow: none; }
/* decrease the size of window buttons */
    .tasklist button image { -gtk-icon-transform: scale(0.8); }
/* tasklist grow animation */
    @keyframes grow {
       0% { -gtk-icon-transform: scale(0.9); } 
       10% { -gtk-icon-transform: scale(0.92); } 
       20% { -gtk-icon-transform: scale(0.94); }
       30% { -gtk-icon-transform: scale(0.96); } 
       40% { -gtk-icon-transform: scale(0.98); } 
       50% { -gtk-icon-transform: scale(1.0); } 
       60% { -gtk-icon-transform: scale(1.02); } 
       70% { -gtk-icon-transform: scale(1.04); }
       80% { -gtk-icon-transform: scale(1.06); } 
       90% { -gtk-icon-transform: scale(1.08); } 
       100% { -gtk-icon-transform: scale(1.10); } 
    }
    .tasklist button:hover image { 
      animation-name: grow;
      animation-duration: 10s;
      animation-timing-function: step-end;
      animation-delay: .2s
    }
/* disable minimized opacity */
    .tasklist image.minimized { opacity: 1.0; }
/* move the tasklist underline to the left */
    .xfce4-panel.background .tasklist button:checked {
      border-style: dotted;
      border-image: image(#fcfcfc) 0 2/0 0 0 2px;
    }

/* mousepad titlebar */
	.mousepad .titlebar {padding-top: 3px; padding-bottom: 3px;}

/* thunar */
.thunar .standard-view .view:selected {color: white}

/* bold the applicationmenu font */
    #applicationmenu-button label { font-weight: bold; }
	#applicationmenu-button>box>image {-gtk-icon-transform: scale(0.6);}    
/* mailwatch plugin tweaks */
    #mailwatch-4>button>image { padding-top: 0px; -gtk-icon-transform: scale(1); }
    #mailwatch-4>button { margin-right: 1px; padding-bottom: 3px; padding-top: 2px;}
/* power manager */
    #xfce4-power-manager-plugin box>image { -gtk-icon-transform: scale(0.8); }
/* pulseaudio plugin */
	#pulseaudio-button .popup .image-button image {color: black}
	.recording-indicator {color: red}
	#pulseaudio-button>box>image {-gtk-icon-transform: scale(1.2);}
	#pulseaudio-button>box {padding-right: 2px}





