/* xfdesktop icon tweaks */
XfdesktopIconView.view { background-color: rgba(0,0,0,0.0); color: #ffffff; }
XfdesktopIconView.view:active { color: #3584e4; border-radius: 3px; }
XfdesktopIconView.rubberband { background-color: rgba(53,132,228,0.2); }
XfdesktopIconView.label:selected { background-color: rgba(53,132,228,0.5); color: #ffffff; border-radius: 3px; }

/* panel autohide size */
* { -XfcePanelWindow-autohide-size: 1; }


/* hidden panel transparent */
.xfce4-panel#XfcePanelWindowHidden {
  background: rgba(0,0,0,0);
}

/* adwaita headerbar colors reversed */
.titlebar:not(headerbar), headerbar {
	border-color: #d5d0cc; 
	background-color: #f6f5f4; 
	background-image: none; 
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); 
	transition: 200ms ease-out; 
}
.titlebar:backdrop:not(headerbar), headerbar:backdrop {
	min-height: 36px; 
	border-width: 0 0 1px; 
	border-style: solid; 
	border-color: #bfb8b1; 
	border-radius: 8px; 
	background: #dfdcd8 linear-gradient(to top, #dad6d2, #e1dedb); 
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.8);
}

/* minimum headerbar size */
    headerbar { min-height: 36px; font-size: 11pt;} 
	.csd .titlebar * {min-height: 19px}
/* Settings Manager */
    .titlebar {padding-top: 3px; padding-bottom: 2px;}
/* remove titlebar icon */
    .csd .titlebar>image {-gtk-icon-transform: scale(0); }
/* mousepad headerbar tweaks */
    .mousepad headerbar * { padding-top: 2px; padding-bottom: 1px; }
    .mousepad .icon { -gtk-icon-transform: scale(0); }
/* lutris tweaks */
	#lutris .titlebar  {padding-top: 0; padding-bottom: 0}


/* message dialog */
.dialog-vbox .text-button {padding: 5px}
messagedialog .titlebar {padding: 0}


/* make all panel buttons transparent */
    .xfce4-panel.background button,
    .xfce4-panel.background button.flat,
    .xfce4-panel.background button:active, 
    .xfce4-panel.background button:hover, 
    .xfce4-panel.background button:active:hover, 
    .xfce4-panel.background .tasklist button, 
    .xfce4-panel.background .tasklist button.flat,
    .xfce4-panel.background .tasklist button:active,
    .xfce4-panel.background .tasklist button:hover, 
    .xfce4-panel.background .tasklist button:active:hover
    {
	    border-color: transparent;
	    background-color: transparent;
	    background-image: none;
	    color: #fcfcfc;
	    box-shadow: none;
	    transition: none; 
	    text-shadow: none;
    }
    .xfce4-panel.background image { -gtk-icon-shadow: none; }
/* decrease the size of window buttons */
    .tasklist button image { -gtk-icon-transform: scale(0.8); }
/* tasklist grow animation */
    @keyframes grow {
       0% { -gtk-icon-transform: scale(0.9); } 
       10% { -gtk-icon-transform: scale(0.92); } 
       20% { -gtk-icon-transform: scale(0.94); }
       30% { -gtk-icon-transform: scale(0.96); } 
       40% { -gtk-icon-transform: scale(0.98); } 
       50% { -gtk-icon-transform: scale(1.0); } 
       60% { -gtk-icon-transform: scale(1.02); } 
       70% { -gtk-icon-transform: scale(1.04); }
       80% { -gtk-icon-transform: scale(1.06); } 
       90% { -gtk-icon-transform: scale(1.08); } 
       100% { -gtk-icon-transform: scale(1.10); } 
    }
    .tasklist button:hover image { 
      animation-name: grow;
      animation-duration: 10s;
      animation-timing-function: step-end;
      animation-delay: .2s
    }
/* disable minimized opacity */
    .tasklist image.minimized { opacity: 1.0; }
/* move the tasklist underline to the left */
    .xfce4-panel.background .tasklist button:checked {
      border-style: dotted;
      border-image: image(#fcfcfc) 0 2/0 0 0 2px;
    }


/* bold the applicationmenu font */
    #applicationmenu-button label { font-weight: bold; }
	#applicationmenu-button>box>image {-gtk-icon-transform: scale(0.6);}
/* genmon weatherAPI */
    #genmon-18 .genmon_valuebutton label {font-weight: 700; padding-bottom: 1.5px; margin: -3px; padding-right: 5px}
/* genmon update */
    #genmon-2 .genmon_valuebutton {padding-top: .2em; padding-right: 9px; padding-top: 2px;}
/* mailwatch plugin tweaks */
    #mailwatch-4>button>image { padding-top: 0px; -gtk-icon-transform: scale(1); }
    #mailwatch-4>button { margin-right: -1px; padding-bottom: 3px; padding-top: 2px;}
/* pulseaudio icon size */
    #pulseaudio-button>box>image:nth-child(2) { -gtk-icon-transform: scale(1); }
	#pulseaudio-button>box>image:nth-child(1) { -gtk-icon-transform: scale(1.1);}
    #pulseaudio-button .popup .image-button image {color: black}
    #pulseaudio-button .popup switch {color: transparent}
    .recording-indicator { -gtk-icon-transform: scale(0.6); }
	#pulseaudio-button>box {padding-left: 3px; }
/* notification plugin icon size */
	#xfce4-notification-plugin {padding-bottom: 3px}
/* power manager */
    #xfce4-power-manager-plugin box>image { -gtk-icon-transform: scale(0.7); padding-bottom: 5px}
/* systray wifi icon padding */
    #systray-6 #sn-button {padding-top: 1px}
    



/* pad and size the weather plugin 
    #weather-4 button image { padding-left: 5px; padding-right: 5px; padding-bottom: 3px; -gtk-icon-transform: scale(1.4); }
    #weather-4 button>box>box { padding-bottom: 3px; }
    #weather-4 button box box { padding-top: 3.2px; }
*/
/* thunar selected cell 
	.thunar .standard-view .view:selected {color: white; }
	.thunar .sidebar .view *:selected  {color: white} 
.thunar .standard-view .view {background-color: yellow; color: red}
.thunar .standard-view .view *:selected {color: black; background: white} */